:root{
    --while-color: #fff;
    --text-color: #333;
    --black-color: #000000;
    --border-color: #717171;
    --border-radius: 12px;
    
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
   
    box-sizing: border-box;
}

.content__nav-all{
    /* position: relative; */
}

.content__nav-nav{
    position: absolute;
    width: 200px;
    right: 2px;
    top: calc(100% + 10px);
    background-color: var(--while-color);
    border-radius: 10px;
    display: none;
    z-index: 1;
}
.content__nav-rieng{
    position: relative;
}
.content__nav-form{
    list-style: none;
    line-height: 4rem;
    padding-left: 0;
    max-height: 200vh;
}
.content__nav-form-list-border{
    border-bottom: 1px solid var(--border-color);
}
.content__nav-form-list:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.content__nav-form-link{
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 15px;
}

/* .label__input{
    display: block;
}
.form__checkbox:checked ~ .modal{
    display: block;
} */

/* overlay */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: none;
}
.over__lay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
.modal__login{
    margin: auto;
    border-radius: 10px;
    background-color: var(--while-color);
    z-index: 1;
}
.modal__login-form{
    max-width: 500px;
}
.modal__heading{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__heading-close{
    padding-left: 10px;
}
.modal__headin-size{
    font-size: 2rem;
}
.modal__heading-head{
    font-size: 2rem;
}

.modal__general{
    overflow-y: auto;
    max-height: 65vh;
}
.modal__form{
    padding: 0 10px;
}
.modal__form-head{
    font-size: 2rem;
    margin: 30px 0;
    font-weight: 200;
    text-align: center;
}
.modal__button, .modal__button1{
    width: 100%;
    height: 55px;
    background: none;
    border-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__button{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
}
.modal__button1{
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal__button-close{
    padding: 0 20px;
}
.modal__button:last-child{
    border-bottom: none;
}
.modal__form-input{
    text-align: left;
    font-size: 1.8rem;
}
.modal__form-area{
    font-size: 1rem;
   color: var(--text-color);
   font-weight: 100;
}
.modal__form-country{
    font-weight: 200;
}
.modal__form-phone{
    font-weight: 200;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.modal__form-policy{
    margin: 0;
    color: var(--text-color);
    font-size: 1rem;
    margin: 10px 0 20px;
}
.modal__form-continue{
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.modal__form-continue:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.modal__or{
    text-align: center;
    margin: 10px 0;
}
.modal__netword{
    padding: 0 10px;
}
.modal__facebook, .modal__apple, .modal__google{
    background: var(--while-color);
    border-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border-radius: 10px;
}
.modal__facebook:hover, .modal__apple:hover, .modal__google:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__facebook-size, .modal__apple-size, .modal__google-size{
    font-size: 2rem;
}

.modal__facebook-size{
    color: rgb(24, 119, 242);
}
.modal__google-size{
   color: rgb(251, 188, 5)
}
.modal__facebook-continue{

}
.modal__facebook{

}
.modal__google{
    margin: 10px 0;
}
.modal__google-cotinue{

}
.modal__facebook-continue{

}
.modal__apple{
    margin-bottom: 20px;
}
.modal__apple-continue{

}